<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <!-- add all the css links and font links here -->
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Hacktober Fest 2023</title>
</head>
<body class="font-jetbrains h-screen bg-[#0F0913]">
  
  <section class="landing-page  640tk:mx-6 mx-10 mt-2">
    <nav class="">
       <div class="max-w-screen-xl flex flex-wrap items-center  md:justify-between justify-between mx-auto pt-4">
         <a href="#" class="flex items-center">
             <img src="{{ url_for('static', filename='assets/navlogo.svg') }}" class=" 640tk:h-16  md:h-20  xl:h-35 lg:h-30 mr-3" alt="Hacktober-Fest Logo" />
             
         </a>
         <div class="md:hidden flex items-center">
          <button  type="button" class= " mobile-menu-button  inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-[#F9CB33] rounded-lg md:hidden hover:bg-black focus:outline-none focus:ring-2 focus:ring-[#F9CB33] " aria-controls="navbar-default" aria-expanded="false">
             <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
             </svg>
         </button>
       </div>
         <div class="hidden md:flex basis-1/2 items-center space-x-1">
           
  
           <div class="  md:w-[35rem]    lg:w-[49rem] relative">
           <img src="{{ url_for('static', filename='assets/navrect.svg') }}" alt="">
           <div class="absolute bottom-0 px-4 py-3 lg:pb-5 md:pb-3 w-full">
             <a  class="text-white  md:text-2xl  md:px-3             lg:px-5  lg:text-3xl "  href="#">About</a>
             <a  class="text-white  md:text-2xl  md:px-3            lg:px-5 lg:text-3xl"    href="#">Leaderboard</a>
             <a  class="text-white  md:text-2xl  md:px-3           lg:px-5  lg:text-3xl"    href="#">Projects</a>
             <a  class="text-white  md:text-2xl  md:px-3            lg:px-5   lg:text-3xl"   href="#">Faq</a>
          </div>
 </div>
         </div>
    </div>
    <div class="hidden mt-3 mobile-menu bg-[#0F0913] w-full px-2  rounded-md  border-t-[#0F0913]   shadow-[0_0.3rem_0.2rem_0_rgba(249,203,51,1)]">
       <ul class="">
          <li class="active"><a href="index.html" class="block text-sm  text-white  font-semibold">About</a></li>
          <li><a href="#services" class="block text-sm text-white transition duration-700">Leaderboard</a></li>
          <li><a href="#about" class="block text-sm  text-white transition duration-700">Projects</a></li>
          <li><a href="#contact" class="block text-sm  text-white transition duration-700">Faq</a></li>
       </ul>
    </div>
       <script>
          const btn = document.querySelector("button.mobile-menu-button");
          const menu = document.querySelector(".mobile-menu");
 
          btn.addEventListener("click", () => {
             menu.classList.toggle("hidden");
          });
       </script>
    </nav>
 </section>
 <!-- Landing Page -->
 
 <section class="landing-page  mt-16 640tk:mx-2 ">
    <div class=" flex flex-col justify-center items-center gap-10">
    <div class="450tk:w-[20rem] 640tk:w-[26rem]   sm:w-[30rem]  md:w-[35rem] lg:w-[40rem]  xl:w-[50rem] ">
       <img   src="{{ url_for('static', filename='assets/hacktoberlogo.svg') }}" alt="">
    </div>
    <div class=" 450tk:w-[20rem] 640tk:w-[26rem]   sm:w-[30rem] md:w-[35rem]  lg:w-[40rem] xl:w-[50rem] ">
       <img   src="{{ url_for('static', filename='assets/gdsclogo.svg') }}" alt="">
    </div>
    <h1 class="640tk:text-lg text-center   md:text-3xl text-[#ABB3C0]">In Collaboartion With</h1>
    </div>
    <!-- collborator cards -->
    <!-- <div class="flex gap-16 flex-wrap justify-center mt-8 ">
       <div class="h-[8rem] w-[20rem] rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
       </div>
         <div class="h-[8rem] w-[20rem] rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
       </div>
         <div class="h-[8rem] w-[20rem] rounded-tr-3xl  rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
       </div> 
     </div> -->
     
     <!-- collborators -->
     <div class="relative flex overflow-x-hidden mt-10">
       <div class="py-12 animate-marquee3 whitespace-nowrap">
          <div class=" inline-block  h-[8rem] w-[20rem] mx-4 rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
          </div>
          <div class=" inline-block h-[8rem] w-[20rem]  mx-4 rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
          </div>
          <div class=" inline-block h-[8rem] w-[20rem]  mx-4   rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
          </div>
          <div class=" inline-block h-[8rem] w-[20rem]  mx-4   rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
          </div>
 
       </div>
      
     
       <div class="absolute top-0 py-12 animate-marquee4 whitespace-nowrap">
          <div class=" inline-block  h-[8rem] w-[20rem]  mx-4 rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
          </div>
          <div class=" inline-block h-[8rem] w-[20rem]  mx-4 rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
          </div>
          <div class=" inline-block h-[8rem] w-[20rem]  mx-4   rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
          </div>
          <div class=" inline-block h-[8rem] w-[20rem]  mx-4   rounded-tr-3xl rounded-md bg-[#0F0913] border-2 border-yellow-500 shadow-lg shadow-yellow-500">
          </div>
       </div>
     </div>
      <!-- marquee effect -->
    
     <div class="relative flex overflow-x-hidden mt-10">
       <div class="py-12 animate-marquee whitespace-nowrap">
         <span class="text-5xl text-[#FFFFFF] mx-4 font-bold bg-gradient-to-br from-[#00000000] via-[#a59e9e] to-[#e3e3e3] text-transparent bg-clip-text animate-gradient">GET IN THE REPO, HACKERS! //</span>
          <span class="text-5xl text-[#FFFFFF] mx-4 font-bold bg-gradient-to-br from-[#00000000] via-[#a59e9e] to-[#e3e3e3] text-transparent bg-clip-text animate-gradient">IT’S TIME TO HACK //</span>
         <span class="text-5xl text-[#FFFFFF] mx-4 font-bold bg-gradient-to-br from-[#00000000] via-[#a59e9e] to-[#e3e3e3] text-transparent bg-clip-text animate-gradient">LAUNCH SEQUENCE INITIATED//</span>
       </div>
     
       <div class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
          <span class="text-5xl text-[#FFFFFF] mx-4 font-bold bg-gradient-to-br from-[#00000000] via-[#a59e9e] to-[#e3e3e3] text-transparent bg-clip-text animate-gradient">GET IN THE REPO, HACKERS! //</span>
           <span class="text-5xl text-[#FFFFFF] mx-4 font-bold bg-gradient-to-br from-[#00000000] via-[#a59e9e] to-[#e3e3e3] text-transparent bg-clip-text animate-gradient">IT’S TIME TO HACK //</span>
           <span class="text-5xl text-[#FFFFFF] mx-4 font-bold bg-gradient-to-br from-[#00000000] via-[#a59e9e] to-[#e3e3e3] text-transparent bg-clip-text animate-gradient">LAUNCH SEQUENCE INITIATED//</span>
       
       </div>
     </div>
     
     
    
   
 
 </section> 


    
    <!-- About page -->

    
    <section  id="aboutus" class=" ml-3 mt-10 font-jetbrains text-3xl pt-8">
        <div class="sm:mr-6 extrasmall:mr-8">
     
        <div class=" md:mx-16 m-4 mr-3 flex md:flex-row  md:justify-around md:h-[35rem]  md:gap-3  md:flex-wrap-3 flex-col">
          <div class=" w-full md:w-2/4 m-2 md:h-[28rem] h-56   text-center flex md:flex-col flex-row sm:justify-center">
             <div class="md:ml-8 exsm:w-40">
                <h1 class="text-white pt-10   sm:mt-9 extrasmall:mt-11 exsm:text-xl  mt-3 md:pt-0 md:m-2  tracking-widest  2xl:text-6xl  lg:text-5xl xl:text-5xl extrasmall:ml-12 ">ABOUT</h1> 
              
             </div>


             <img   class="object-stretch extrasmall:object-stretch extrasmall:h-70 extrasmall:w-70 extrasmall:overflow-auto  sm:h-60 sm:ml-10 sm:w-60 md:h-full md:w-full  md:ml-6" src="{{ url_for('static', filename='assets/aboutme.svg') }}" alt="">
              
        
        
          </div>
        
          <div class="border-t-4 border-dashed opacity-60 h-1  m-2  md:h-[22rem] md:mt-20 lg:h-[22rem]  xl:h-[24rem] lg:mt-20   w-full   text-center md:w-1 md:border-l-4 md:border-dashed xl:mt-20 2xl:mt-14 "></div>
          <div class=" md:w-2/4 m-2 mt-10 md:ml-4  md:h-[28rem] h-80 w-full font-medium text-lg 2xl:text-3xl xl:text-3xl overflow-auto lg:text-2xl  text-white text-left"><div class="md:mt-20 xl:mt-12 2xl:mt-16 w-full">Hacktoberfest is DigitalOcean's annual event that encourages people to contribute to open source throughout October. Much of modern tech infrastructure including some of DigitalOcean's own products relies on open-source projects</div>
          </div>
        </div> 

        <div class="  md:mx-16  mr-3 flex md:flex-row  md:justify-around   md:gap-3  md:flex-wrap-3 flex-col">
            <img class="object-scale-down" src="{{ url_for('static', filename='assets/aboutdesign.svg') }}" alt="">
           </div> 
        </div>
        
    </section>
     
        
      




    <!-- Leaderboard -->
    <section class="text-[#fff]  w-[100vw] bg-[#0F0913] font-jet_brains " >
      <div class="flex justify-center gap-x-[5%]">
           <div class="text-6xl font-semibold tracking-wide mt-20 mb-4 xs_lead:text-3xl xs_lead:mt-10 sm_lead:text-4xl md_lead:text-4xl">LEADERBOARD</div>
           <div class="-mt-2"><img src="{{ url_for('static', filename='assets/13@1x 1.svg') }}" class="h-32 xs_lead:h-[100px] md_lead:h-40 sm_lead:h-40" alt=""></div>
       </div>


       {% for x in data['records'] %}
       <div class="flex flex-col w-1/2 m-auto xs_lead:w-[60%] ">
        <div class="flex justify-center  gap-10 xs_lead:gap-5  border-b-2 border-dashed border-[#FFFFFF]">
            <div class="text-4xl xs_lead:text-[16px] sm_lead:text-lg md_lead:text-xl  font-bold relative top-[65px] left-0 xs_lead:top-[30px] " >#{{ x.rank }}</div>
            <div class="w-[70%] h-[80px]  mr-12 mb-6 xs_lead:-mb-10 mt-16 sm_lead:-mb-8 md_lead:-mb-6 xl_lead:-mb-1 xl_lead:mt-20 md_lead:mt-14 sm_lead:mt-12 xs:mt-10">
                <img src="{{ x.profileLink }}" class="xs_lead:w-[208px] xl_lead:min-w-[400px] md_lead:min-w-[300px] sm_lead:min-w-[270px] xs_lead:min-w-[210px] " alt="Profile picture">
                <div class="text-4xl  tracking-wider relative pb-2 left-1/2 bottom-[75%] xs_lead:text-lg  xl_lead:bottom-[58%] xl_lead:text-3xl xl_lead:pb-2 md_lead:text-2xl sm_lead:text-xl md_lead:bottom-[42%] sm_lead:bottom-[40%] xs_lead:bottom-[30%] xs_lead:left-[80px] xs_lead:pr-1">{{ x.username }}</div>
               <div class="h-[84px] w-[86px] relative bg-[#D9D9D9] shadow-custom1 xs_lead:shadow-custom2 bottom-[162px] left-[72px] xs_lead:h-[26px] xs_lead:w-[25px] xs_lead:-top-[75px] xs_lead:left-6 sm_lead:h-11 sm_lead:w-[43px] sm_lead:bottom-[95px] sm+lead:left-10 md_lead:h-12 md_lead:w-[47px] md_lead:bottom-[110px] md_lead:left-12 "></div>
            </div>
            <div class="text-4xl xs_lead:text-[16px] text-[#AD832D] font-bold relative top-[60px] md_lead:ml-6 md_lead:text-xl sm_lead:text-lg xs_lead:ml-6 xs_lead:top-[30px]">{{ x.points }}</div>
            
        </div>

       {% endfor %}
<!--

       <div class="flex flex-col w-1/2 m-auto xs_lead:w-[60%] ">
           <div class="flex justify-center  gap-10 xs_lead:gap-5  border-b-2 border-dashed border-[#FFFFFF]">
               <div class="text-4xl xs_lead:text-[16px] sm_lead:text-lg md_lead:text-xl  font-bold relative top-[65px] left-0 xs_lead:top-[30px] " >#1</div>
               <div class="w-[70%] h-[80px]  mr-12 mb-6 xs_lead:-mb-10 mt-16 sm_lead:-mb-8 md_lead:-mb-6 xl_lead:-mb-1 xl_lead:mt-20 md_lead:mt-14 sm_lead:mt-12 xs:mt-10">
                   <img src="{{ url_for('static', filename='assets/Line 36.svg') }}" class="xs_lead:w-[208px] xl_lead:min-w-[400px] md_lead:min-w-[300px] sm_lead:min-w-[270px] xs_lead:min-w-[210px] " alt="">
                   <div class="text-4xl  tracking-wider relative pb-2 left-1/2 bottom-[75%] xs_lead:text-lg  xl_lead:bottom-[58%] xl_lead:text-3xl xl_lead:pb-2 md_lead:text-2xl sm_lead:text-xl md_lead:bottom-[42%] sm_lead:bottom-[40%] xs_lead:bottom-[30%] xs_lead:left-[80px] xs_lead:pr-1">github.io</div>
                  <div class="h-[84px] w-[86px] relative bg-[#D9D9D9] shadow-custom1 xs_lead:shadow-custom2 bottom-[162px] left-[72px] xs_lead:h-[26px] xs_lead:w-[25px] xs_lead:-top-[75px] xs_lead:left-6 sm_lead:h-11 sm_lead:w-[43px] sm_lead:bottom-[95px] sm+lead:left-10 md_lead:h-12 md_lead:w-[47px] md_lead:bottom-[110px] md_lead:left-12 "></div>
               </div>
               <div class="text-4xl xs_lead:text-[16px] text-[#AD832D] font-bold relative top-[60px] md_lead:ml-6 md_lead:text-xl sm_lead:text-lg xs_lead:ml-6 xs_lead:top-[30px]">50</div>
               
           </div>

           <div class="flex justify-center  gap-10 xs_lead:gap-5  border-b-2 border-dashed border-[#FFFFFF]">
               <div class="text-4xl xs_lead:text-[16px] sm_lead:text-lg md_lead:text-xl  font-bold relative top-[65px] left-0 xs_lead:top-[30px] " >#1</div>
               <div class="w-[70%] h-[80px]  mr-12 mb-6 xs_lead:-mb-10 mt-16 sm_lead:-mb-8 md_lead:-mb-6 xl_lead:-mb-1 xl_lead:mt-20 md_lead:mt-14 sm_lead:mt-12 xs:mt-10">
                   <img src="{{ url_for('static', filename='assets/Line 36.svg') }}" class="xs_lead:w-[208px] xl_lead:min-w-[400px] md_lead:min-w-[300px] sm_lead:min-w-[270px] xs_lead:min-w-[210px] " alt="">
                   <div class="text-4xl  tracking-wider relative pb-2 left-1/2 bottom-[75%] xs_lead:text-lg  xl_lead:bottom-[58%] xl_lead:text-3xl xl_lead:pb-2 md_lead:text-2xl sm_lead:text-xl md_lead:bottom-[42%] sm_lead:bottom-[40%] xs_lead:bottom-[30%] xs_lead:left-[80px] xs_lead:pr-1">github.io</div>
                  <div class="h-[84px] w-[86px] relative bg-[#D9D9D9] shadow-custom1 xs_lead:shadow-custom2 bottom-[162px] left-[72px] xs_lead:h-[26px] xs_lead:w-[25px] xs_lead:-top-[75px] xs_lead:left-6 sm_lead:h-11 sm_lead:w-[43px] sm_lead:bottom-[95px] sm+lead:left-10 md_lead:h-12 md_lead:w-[47px] md_lead:bottom-[110px] md_lead:left-12 "></div>
               </div>
               <div class="text-4xl xs_lead:text-[16px] text-[#AD832D] font-bold relative top-[60px] md_lead:ml-6 md_lead:text-xl sm_lead:text-lg xs_lead:ml-6 xs_lead:top-[30px]">50</div>
               
           </div>

           <div class="flex justify-center  gap-10 xs_lead:gap-5  border-b-2 border-dashed border-[#FFFFFF]">
               <div class="text-4xl xs_lead:text-[16px] sm_lead:text-lg md_lead:text-xl  font-bold relative top-[65px] left-0 xs_lead:top-[30px] " >#1</div>
               <div class="w-[70%] h-[80px]  mr-12 mb-6 xs_lead:-mb-10 mt-16 sm_lead:-mb-8 md_lead:-mb-6 xl_lead:-mb-1 xl_lead:mt-20 md_lead:mt-14 sm_lead:mt-12 xs:mt-10">
                   <img src="{{ url_for('static', filename='assets/Line 36.svg') }}" class="xs_lead:w-[208px] xl_lead:min-w-[400px] md_lead:min-w-[300px] sm_lead:min-w-[270px] xs_lead:min-w-[210px] " alt="">
                   <div class="text-4xl  tracking-wider relative pb-2 left-1/2 bottom-[75%] xs_lead:text-lg  xl_lead:bottom-[58%] xl_lead:text-3xl xl_lead:pb-2 md_lead:text-2xl sm_lead:text-xl md_lead:bottom-[42%] sm_lead:bottom-[40%] xs_lead:bottom-[30%] xs_lead:left-[80px] xs_lead:pr-1">github.io</div>
                  <div class="h-[84px] w-[86px] relative bg-[#D9D9D9] shadow-custom1 xs_lead:shadow-custom2 bottom-[162px] left-[72px] xs_lead:h-[26px] xs_lead:w-[25px] xs_lead:-top-[75px] xs_lead:left-6 sm_lead:h-11 sm_lead:w-[43px] sm_lead:bottom-[95px] sm+lead:left-10 md_lead:h-12 md_lead:w-[47px] md_lead:bottom-[110px] md_lead:left-12 "></div>
               </div>
               <div class="text-4xl xs_lead:text-[16px] text-[#AD832D] font-bold relative top-[60px] md_lead:ml-6 md_lead:text-xl sm_lead:text-lg xs_lead:ml-6 xs_lead:top-[30px]">50</div>
               
           </div>

           <div class="flex justify-center  gap-10 xs_lead:gap-5  border-b-2 border-dashed border-[#FFFFFF]">
               <div class="text-4xl xs_lead:text-[16px] sm_lead:text-lg md_lead:text-xl  font-bold relative top-[65px] left-0 xs_lead:top-[30px] " >#1</div>
               <div class="w-[70%] h-[80px]  mr-12 mb-6 xs_lead:-mb-10 mt-16 sm_lead:-mb-8 md_lead:-mb-6 xl_lead:-mb-1 xl_lead:mt-20 md_lead:mt-14 sm_lead:mt-12 xs:mt-10">
                   <img src="{{ url_for('static', filename='assets/Line 36.svg') }}" class="xs_lead:w-[208px] xl_lead:min-w-[400px] md_lead:min-w-[300px] sm_lead:min-w-[270px] xs_lead:min-w-[210px] " alt="">
                   <div class="text-4xl  tracking-wider relative pb-2 left-1/2 bottom-[75%] xs_lead:text-lg  xl_lead:bottom-[58%] xl_lead:text-3xl xl_lead:pb-2 md_lead:text-2xl sm_lead:text-xl md_lead:bottom-[42%] sm_lead:bottom-[40%] xs_lead:bottom-[30%] xs_lead:left-[80px] xs_lead:pr-1">github.io</div>
                  <div class="h-[84px] w-[86px] relative bg-[#D9D9D9] shadow-custom1 xs_lead:shadow-custom2 bottom-[162px] left-[72px] xs_lead:h-[26px] xs_lead:w-[25px] xs_lead:-top-[75px] xs_lead:left-6 sm_lead:h-11 sm_lead:w-[43px] sm_lead:bottom-[95px] sm+lead:left-10 md_lead:h-12 md_lead:w-[47px] md_lead:bottom-[110px] md_lead:left-12 "></div>
               </div>
               <div class="text-4xl xs_lead:text-[16px] text-[#AD832D] font-bold relative top-[60px] md_lead:ml-6 md_lead:text-xl sm_lead:text-lg xs_lead:ml-6 xs_lead:top-[30px]">50</div>
               
           </div>

       </div>    

  -->

       <div class="mt-16 mx-auto pb-14 flex justify-center " >
           <img src="{{ url_for('static', filename='assets/Screenshot 2023-09-18 123007 1.svg') }}" class="w-4/5 xs:w-11/12" alt="">
       </div>
   </section>


    <!-- Projects -->
      <!-- Projects -->
  <section  id="projects" class="    lg:mx-4 xl:m-10 2xl:m-32  mt-10 font-jetbrains text-3xl ">
    
    <div class="flex rounded-lg  verysmall:h-40 h-64  flex-row justify-center gap-14 items-center">
       
        <div>
          <h2 class="text-white  verysmall:text-4xl md:text-5xl font-bold tracking-wider xl:text-6xl">PROJECTS</h2>
        </div>
      
           <div
              class="   verysmall:hidden  w-[12rem] h-[10rem]  md:w-[14rem] md:h-[14rem]  xl:w-[16rem] xl:h-[18rem]   text-white ">
              <img   src="{{ url_for('static', filename='assets/projectsectionimg.svg') }}" alt="" srcset="">
              
          </div>
      
      
  </div>
 
<div class="container my-12 mx-auto px-5 md:px-12 xl:px-14">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">

        <!-- Column 1 -->
        <div class="my-3 px-3  w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          <div class="flex rounded-3xl     p-8 flex-col border-[#F9CB33] border-2 shadow-lg shadow-[#F9CB33]">
             <div class="flex items-center mb-3">
                 <div
                    class="w-16 h-16  lg:w-20 lg:h-20 mr-3 inline-flex items-center justify-center  text-white flex-shrink-0">
                    <img src="{{ url_for('static', filename='assets/hacktobot 2.svg') }}" alt="" srcset="">
                    
                 </div>
                  <h2 class="text-white text-3xl verysmall:text-2xl xl:text-4xl lg:text-2xl font-semibold tracking-wider" >HACKTOBOT</h2>
               </div>
            <div class="flex flex-col justify-between flex-grow">
                <p class="leading-relaxed text-base text-white xl:text-2xl">
                    An open-source Discord bot to introduce and Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, reprehenderit! Quis  .
                </p>
                
            </div>
        </div>

          
  

        </div>
        <!-- END Column -->

        <!-- Column 2 -->
        <div class="my-3 px-3  w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

             <div class="flex rounded-3xl     p-8 flex-col border-[#F9CB33] border-2 shadow-lg shadow-[#F9CB33] ">
             <div class="flex items-center mb-3">
                 <div
                    class="w-16 h-16 mr-3 lg:w-20 lg:h-20 inline-flex items-center justify-center  text-white flex-shrink-0">
                    <img src="{{ url_for('static', filename='assets/hacktobot 2.svg') }}" alt="" srcset="">
                    
                 </div>
                  <h2 class="text-white text-3xl  verysmall:text-2xl font-semibold tracking-wider xl:text-4xl lg:text-2xl" >HACKTOBOT</h2>
               </div>
            <div class="flex flex-col justify-between flex-grow ">
                <p class="leading-relaxed text-base text-white  xl:text-2xl">
                    An open-source Discord bot to introduce and Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, reprehenderit! Quis  .
                </p>
                
            </div>
        </div>

        </div>
        <!-- END Column -->
        <!-- column -3 -->
       <div class="my-3 px-3 md:w-1/2 w-full  lg:my-4 lg:px-4 lg:w-1/3">

             <div class="flex rounded-3xl     p-8 flex-col border-[#F9CB33] border-2 shadow-lg shadow-[#F9CB33] ">
             <div class="flex items-center mb-3">
                 <div
                    class="w-16 h-16 mr-3  lg:w-20 lg:h-20 inline-flex items-center justify-center  text-white flex-shrink-0">
                    <img src="{{ url_for('static', filename='assets/hacktobot 2.svg') }}" alt="" srcset="">
                    
                 </div>
                  <h2 class="text-white text-3xl  font-semibold tracking-wider verysmall:text-2xl xl:text-4xl lg:text-2xl" >HACKTOBOT</h2>
               </div>
            <div class="flex flex-col justify-between flex-grow">
                <p class="leading-relaxed text-base text-white  xl:text-2xl">
                    An open-source Discord bot to introduce and Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, reprehenderit! Quis  .
                </p>
                
            </div>
        </div>

        </div>
      <!-- end column -->
      <!-- column-4 -->
       <div class="my-3 px-3  md:w-1/2  w-full lg:my-4 lg:px-4 lg:w-1/3">

             <div class="flex rounded-3xl     p-8 flex-col border-[#F9CB33] border-2 shadow-lg shadow-[#F9CB33] ">
             <div class="flex items-center mb-3">
                 <div
                    class="w-16 h-16 mr-3 lg:w-20 lg:h-20  inline-flex items-center justify-center  text-white flex-shrink-0">
                    <img src="{{ url_for('static', filename='assets/hacktobot 2.svg') }}" alt="" srcset="">
                    
                 </div>
                  <h2 class="text-white text-3xl  font-semibold tracking-wider verysmall:text-2xl  xl:text-4xl lg:text-2xl" >HACKTOBOT</h2>
               </div>
            <div class="flex flex-col justify-between flex-grow">
                <p class="leading-relaxed text-base text-white  xl:text-2xl">
                    An open-source Discord bot to introduce and Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, reprehenderit! Quis  .
                </p>
                
            </div>
        </div>

        </div>
        <!-- end column -->
         <!-- column-5 -->
       <div class="my-3 px-3  md:w-1/2  w-full lg:my-4 lg:px-4 lg:w-1/3">

        <div class="flex rounded-3xl     p-8 flex-col border-[#F9CB33] border-2 shadow-lg shadow-[#F9CB33] ">
        <div class="flex items-center mb-3">
            <div
               class="w-16 h-16 mr-3  lg:w-20 lg:h-20 inline-flex items-center justify-center  text-white flex-shrink-0">
                    <img src="{{ url_for('static', filename='assets/hacktobot 2.svg') }}" alt="" srcset="">
               
            </div>
             <h2 class="text-white text-3xl  font-semibold tracking-wider verysmall:text-2xl xl:text-4xl lg:text-2xl" >HACKTOBOT</h2>
          </div>
       <div class="flex flex-col justify-between flex-grow">
           <p class="leading-relaxed text-base text-white  xl:text-2xl">
               An open-source Discord bot to introduce and Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, reprehenderit! Quis  .
           </p>
           
       </div>
   </div>

   </div>
   <!-- end column -->
    <!-- column-6 -->
    <div class="my-3 px-3 md:w-1/2 w-full lg:my-4 lg:px-4 lg:w-1/3">

        <div class="flex rounded-3xl     p-8 flex-col border-[#F9CB33] border-2 shadow-lg shadow-[#F9CB33] ">
        <div class="flex items-center mb-3">
            <div
               class="w-16 h-16 mr-3 lg:w-20 lg:h-20 inline-flex items-center justify-center  text-white flex-shrink-0">
               <img src="{{ url_for('static', filename='assets/hacktobot 2.svg') }}" alt="" srcset="">
               
            </div>
             <h2 class="text-white text-3xl  font-semibold tracking-wider verysmall:text-2xl xl:text-4xl lg:text-2xl" >HACKTOBOT</h2>
          </div>
       <div class="flex flex-col justify-between flex-grow">
           <p class="leading-relaxed text-base text-white  xl:text-2xl">
               An open-source Discord bot to introduce and Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, reprehenderit! Quis  .
           </p>
           
       </div>
   </div>

   </div>
   <!-- end column -->
       
        
      

        
</div>
<div class="  md:mx-2  mt-20 mr-3 flex md:flex-row  md:justify-around   md:gap-3  md:flex-wrap-3 flex-col">
    <img class="object-contain" src="{{ url_for('static', filename='assets/aboutdesign.svg') }}" alt="">
   </div> 
</div>

</section>
    
    


    <!-- FAQ -->
    <section id="faqs" class="bg-black01 text-white font-Jetbrains font-500">
      <div class="pt-[40px]">
        <div class="imgs flex justify-center m-auto">
          <img
            class="faqimg h-[25px] sm:h-[40px] mt-[40px] md:h-[50px] md:mt-[70px] items-center sm:mt-[60px] mr-[2%]"
            src="{{ url_for('static', filename='assets/FAQ.svg') }}"
            alt=""
          />
          <img
            class="xyz h-[120px] sm:h-[200px] md:h-[230px] ml-[2%]"
            src="{{ url_for('static', filename='assets/05@1x1.svg') }}"
            alt=""
          />
        </div>
        <div
          class="faq sm:pl-[2%] pl-[3%] text-xs sm:text-lg md:text-lg border-2 border-gold1 rounded-md mx-[10%] sm:my-[3%] my-[30px] px-1 py-1 shadow-custom relative"
        >
          <div class="abc relative py-2.5">
            <div
              class="question font-bold text-white relative sm:w-[90%] w-[86.3%] pr-0"
            >
              DO I GET A REWARD FOR PARTICIPATING?
            </div>
            <div class="arr pl-0">
              <img
                class="arrow pl-0 h-4 w-7 sm:w-7 md:w-10 lg:h-5 lg:w-12 absolute right-[10px] top-[22%] mt-[2%] md:mt-[1.2%] sm:mt-[1%] -translate-y-2/4 duration-300"
                src="{{ url_for('static', filename='assets/ss1.svg') }}"
                alt=""
              />
            </div>
          </div>
          <div class="answer mt-[2%] w-[90%]">
            Aside from the knowledge you’ll gain, (and the fun you’ll have) you
            can earn a digital reward kit courtesy of DigitalOcean and our
            sponsors and partners. You’ll receive your digital reward once
            you’ve completed four accepted pull/merge requests. Also, the first
            50,000 participants to have their first PR/MR accepted will have a
            tree planted in their name through Tree Nation.
          </div>
        </div>
        <div
          class="faq sm:pl-[2%] pl-[3%] text-xs sm:text-lg md:text-lg border-2 border-gold1 rounded-md mx-[10%] sm:my-[3%] my-[30px] px-1 py-1 shadow-custom relative"
        >
          <div class="abc relative py-2.5">
            <div
              class="question font-bold text-white relative sm:w-[90%] w-[86.3%] pr-0"
            >
              HOW WILL I RECEIVE MY DIGITAL REWARD?
            </div>
            <div class="arr pl-0">
              <img
                class="arrow pl-0 h-4 w-7 sm:w-7 md:w-10 lg:h-5 lg:w-12 absolute right-[10px] top-[22%] mt-[2%] md:mt-[1.2%] sm:mt-[1%] -translate-y-2/4 duration-300"
                src="{{ url_for('static', filename='assets/ss1.svg') }}"
                alt=""
              />
            </div>
          </div>
          <div class="answer mt-[2%] w-[90%]">
            You will receive a notification in your Hacktoberfest profile on the
            Hacktoberfest website. Additionally you will receive an email from
            Holopin to claim your rewards. You may also receive emails from Tree
            Nation.
          </div>
        </div>
        <div
          class="faq sm:pl-[2%] pl-[3%] text-xs sm:text-lg md:text-lg border-2 border-gold1 rounded-md mx-[10%] sm:my-[3%] my-[30px] px-1 py-1 shadow-custom relative"
        >
          <div class="abc relative py-2.5">
            <div
              class="question font-bold text-white relative sm:w-[90%] w-[86.3%] pr-0"
            >
              I SIGNED UP FOR HACKTOBERFEST MID-OCTOBER. WILL PULL/MERGE
              REQUESTS THAT I CREATED EARLIER IN OCTOBER COUNT?
            </div>
            <div class="arr pl-0">
              <img
                class="arrow pl-0 h-4 w-7 sm:w-7 md:w-10 lg:h-5 lg:w-12 absolute right-[10px] top-[22%] mt-[2%] md:mt-[1.2%] sm:mt-[1%] -translate-y-2/4 duration-300"
                src="{{ url_for('static', filename='assets/ss1.svg') }}"
                alt=""
              />
            </div>
          </div>
          <div class="answer mt-[2%] w-[90%]">
            Yes, all pull/merge requests created between October 1 and October
            31 will count, regardless of when you register for Hacktoberfest.
            Pull/merge requests created before October 1 but merged or marked as
            ready for review after do not count. Pull/merge requests that are
            still in review after October 31 and meet the criteria will count
            towards your completion goal.
          </div>
        </div>
        <div
          class="faq sm:pl-[2%] pl-[3%] text-xs sm:text-lg md:text-lg border-2 border-gold1 rounded-md mx-[10%] sm:my-[3%] my-[30px] px-1 py-1 shadow-custom relative"
        >
          <div class="abc relative py-2.5">
            <div
              class="question font-bold text-white relative sm:w-[90%] w-[86.3%] pr-0"
            >
              DO PULL/MERGE REQUESTS MADE ON MY OWN REPOSITORIES COUNT?
            </div>
            <div class="arr pl-0">
              <img
                class="arrow pl-0 h-4 w-7 sm:w-7 md:w-10 lg:h-5 lg:w-12 absolute right-[10px] top-[22%] mt-[2%] md:mt-[1.2%] sm:mt-[1%] -translate-y-2/4 duration-300"
                src="{{ url_for('static', filename='assets/ss1.svg') }}"
                alt=""
              />
            </div>
          </div>
          <div class="answer mt-[2%] w-[90%]">
            Yes, but we strongly encourage you to make quality contributions to
            other repositories.
          </div>
        </div>
        <div
          class="faq sm:pl-[2%] pl-[3%] text-xs sm:text-lg md:text-lg border-2 border-gold1 rounded-md mx-[10%] sm:my-[3%] my-[30px] px-1 py-1 shadow-custom relative"
        >
          <div class="abc relative py-2.5">
            <div
              class="question font-bold text-white relative sm:w-[90%] w-[86.3%] pr-0"
            >
              DO ISSUES/COMMITS COUNT?
            </div>
            <div class="arr pl-0">
              <img
                class="arrow pl-0 h-4 w-7 sm:w-7 md:w-10 lg:h-5 lg:w-12 absolute right-[10px] top-[22%] mt-[2%] md:mt-[1.2%] sm:mt-[1%] -translate-y-2/4 duration-300"
                src="{{ url_for('static', filename='assets/ss1.svg') }}"
                alt=""
              />
            </div>
          </div>
          <div class="answer mt-[2%] w-[90%]">
            No, only pull/merge requests count.
          </div>
        </div>
        <div
          class="faq sm:pl-[2%] pl-[3%] text-xs sm:text-lg md:text-lg border-2 border-gold1 rounded-md mx-[10%] sm:my-[3%] my-[30px] px-1 py-1 shadow-custom relative"
        >
          <div class="abc relative py-2.5">
            <div
              class="question font-bold text-white relative sm:w-[90%] w-[86.3%] pr-0"
            >
              DO ISSUES HAVE TO BE TAGGED #HACKTOBERFEST TO COUNT?
            </div>
            <div class="arr pl-0">
              <img
                class="arrow pl-0 h-4 w-7 sm:w-7 md:w-10 lg:h-5 lg:w-12 absolute right-[10px] top-[22%] mt-[2%] md:mt-[1.2%] sm:mt-[1%] -translate-y-2/4 duration-300"
                src="{{ url_for('static', filename='assets/ss1.svg') }}"
                alt=""
              />
            </div>
          </div>
          <div class="answer mt-[2%] w-[90%]">
            No, pull/merge requests for Hacktoberfest do not need to be attached
            to a hacktoberfest issue.
          </div>
        </div>
        <div
          class="faq sm:pl-[2%] pl-[3%] text-xs sm:text-lg md:text-lg border-2 border-gold1 rounded-md mx-[10%] sm:my-[3%] my-[30px] px-1 py-1 shadow-custom relative"
        >
          <div class="abc relative py-2.5">
            <div
              class="question font-bold text-white relative sm:w-[90%] w-[86.3%] pr-0"
            >
              DO CONTRIBUTIONS MADE OUTSIDE OF GITHUB OR GITLAB COUNT?
            </div>
            <div class="arr pl-0">
              <img
                class="arrow pl-0 h-4 w-7 sm:w-7 md:w-10 lg:h-5 lg:w-12 absolute right-[10px] top-[22%] mt-[2%] md:mt-[1.2%] sm:mt-[1%] -translate-y-2/4 duration-300"
                src="{{ url_for('static', filename='assets/ss1.svg') }}"
                alt=""
              />
            </div>
          </div>
          <div class="answer mt-[2%] w-[90%]">
            Pull/merge requests must be made on either the GitHub or GitLab
            platform.
          </div>
        </div>

        <div class="ml-[6%] w-[87%] sm:mt-[50px] mt-[40px]">
          <img
          src="{{ url_for('static', filename='assets/ss4.svg') }}"
            alt=""
          />
        </div>
      </div>
    </section>


    <!-- Team Section -->
    <section  id="projects" class="lg:mx-4 xl:m-10 2xl:m-32  mt-10 font-jetbrains text-3xl ">
      <div class="flex rounded-lg  verysmall:h-40 h-64  flex-row justify-center gap-14 items-center">
             
          <div>
            <h2 class="text-white  640tk:text-3xl  verysmall:text-4xl  sm:text-3xl  md:text-4xl font-bold tracking-wider xl:text-6xl">OUR TEAM</h2>
          </div>
        
             <div
                class="   verysmall:hidden  w-[12rem] h-[10rem]  sm:w-[13rem] sm:h-[13rem] md:w-[14rem] md:h-[14rem]  xl:w-[16rem] xl:h-[18rem]   text-white ">
                 <img   src="{{ url_for('static', filename='assets/ourteamlogo.svg') }}" alt="" srcset="">
                
            </div>
        
        
    </div>
      
    <div class="container my-12 mx-auto px-5 md:px-12 xl:px-14"><!--container-->
    
      <div class="flex flex-wrap -mx-1 lg:-mx-4">
         <!-- column-1 -->
      <div class="group h-96  [perspective:1000px] bg-[#0F0913] my-2 px-4 md:w-1/2 w-full  640tk:my-3 640tk:p-6  sm:my-4 sm:p-5  md:my-3 md:p-7  lg:my-5 lg:p-10 lg:w-1/3">
        <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-700     [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]" >
         <div class="absolute inset-0">
             <img class="h-full w-full rounded-xl object-cover shadow-xl shadow-yellow-300" src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="">
          </div>
        <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
          <div class="flex min-h-full flex-col items-center justify-center">
             <h1 class="text-3xl font-bold">Obito Uchiha</h1>
             <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui commodi illum veritatis voluptatem totam culpa sed provident ab quam ad.</p>
             <button class="mt-2 rounded-md bg-neutral-800 py-1 px-2 text-sm hover:bg-neutral-900">
            Read more
             </button>
         </div>
        </div>   
      </div>
    </div>
    <!-- column-2 -->
       <div class="group h-96  [perspective:1000px] bg-[#0F0913] my-3 px-3 md:w-1/2 w-full  640tk:my-3 640tk:p-6   sm:my-4 sm:p-5  md:my-3 md:p-7  lg:my-5 lg:p-10 lg:w-1/3">
        <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-700     [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]" >
         <div class="absolute inset-0">
             <img class="h-full w-full rounded-xl object-cover shadow-xl shadow-yellow-300" src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="">
          </div>
        <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
          <div class="flex min-h-full flex-col items-center justify-center">
             <h1 class="text-3xl font-bold">Obito Uchiha</h1>
             <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui commodi illum veritatis voluptatem totam culpa sed provident ab quam ad.</p>
             <button class="mt-2 rounded-md bg-neutral-800 py-1 px-2 text-sm hover:bg-neutral-900">
            Read more
             </button>
         </div>
        </div>   
      </div>
    </div>
    <!-- column-3 -->
     <div class="group h-96  [perspective:1000px] bg-[#0F0913] my-3 px-3 md:w-1/2 w-full  640tk:my-3 640tk:p-6   sm:my-4 sm:p-5   md:my-3 md:p-7  lg:my-5 lg:p-10 lg:w-1/3">
        <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500      [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]" >
         <div class="absolute inset-0">
             <img class="h-full w-full rounded-xl object-cover shadow-xl shadow-yellow-300" src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="">
          </div>
        <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
          <div class="flex min-h-full flex-col items-center justify-center">
             <h1 class="text-3xl font-bold">Obito Uchiha</h1>
             <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui commodi illum veritatis voluptatem totam culpa sed provident ab quam ad.</p>
             <button class="mt-2 rounded-md bg-neutral-800 py-1 px-2 text-sm hover:bg-neutral-900">
            Read more
             </button>
         </div>
        </div>   
      </div>
    </div>
    <!-- column-4 -->
     <div class="group h-96  [perspective:1000px] bg-[#0F0913] my-3 px-3 md:w-1/2 w-full  640tk:my-3 640tk:p-6   sm:my-4 sm:p-5   md:my-3 md:p-7  lg:my-5    lg:p-10 lg:w-1/3">
        <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-700     [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]" >
         <div class="absolute inset-0">
             <img class="h-full w-full rounded-xl object-cover shadow-xl shadow-yellow-300" src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="">
          </div>
        <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
          <div class="flex min-h-full flex-col items-center justify-center">
             <h1 class="text-3xl font-bold">Obito Uchiha</h1>
             <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui commodi illum veritatis voluptatem totam culpa sed provident ab quam ad.</p>
             <button class="mt-2 rounded-md bg-neutral-800 py-1 px-2 text-sm hover:bg-neutral-900">
            Read more
             </button>
         </div>
        </div>   
      </div>
    </div>
    <!-- column-5 -->
     <div class="group h-96  [perspective:1000px] bg-[#0F0913] my-3 px-3 md:w-1/2 w-full  640tk:my-3 640tk:p-6   sm:my-4 sm:p-5   md:my-3 md:p-7  lg:my-5 lg:p-10 lg:w-1/3">
        <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-700     [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]" >
         <div class="absolute inset-0">
             <img class="h-full w-full rounded-xl object-cover shadow-xl shadow-yellow-300" src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="">
          </div>
        <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
          <div class="flex min-h-full flex-col items-center justify-center">
             <h1 class="text-3xl font-bold">Obito Uchiha</h1>
             <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui commodi illum veritatis voluptatem totam culpa sed provident ab quam ad.</p>
             <button class="mt-2 rounded-md bg-neutral-800 py-1 px-2 text-sm hover:bg-neutral-900">
            Read more
             </button>
         </div>
        </div>   
      </div>
    </div>
    
    <!-- column-6 -->
    
     <div class="group h-96  [perspective:1000px] bg-[#0F0913] my-3 px-3 md:w-1/2 w-full 640tk:my-3 640tk:p-6    sm:my-4 sm:p-5   md:my-3 md:p-7  lg:my-5 lg:p-10 lg:w-1/3">
        <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-700      [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]" >
         <div class="absolute inset-0">
             <img class="h-full w-full rounded-xl object-cover shadow-xl shadow-yellow-300" src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg" alt="">
          </div>
        <div class="absolute inset-0 h-full w-full rounded-xl bg-black/80 px-12 text-center text-slate-200 [transform:rotateY(180deg)] [backface-visibility:hidden]">
          <div class="flex min-h-full flex-col items-center justify-center">
             <h1 class="text-3xl font-bold">Obito Uchiha</h1>
             <p class="text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui commodi illum veritatis voluptatem totam culpa sed provident ab quam ad.</p>
             <button class="mt-2 rounded-md bg-neutral-800 py-1 px-2 text-sm hover:bg-neutral-900">
            Read more
             </button>
         </div>
        </div>   
      </div>
    </div>
    
    
    
    </div>
    </div>
    <div class="  md:mx-2  mt-20 mr-3 flex md:flex-row  md:justify-around   md:gap-3  md:flex-wrap-3 flex-col">
        <img class="object-contain" src="{{ url_for('static', filename='assets/aboutdesign.svg') }}" alt="">
     </div> 
    </div>
      
    </section>

    <!--footer-->
    <section class="text-white font-Jetbrains font-500">
      <div class="cont2 ml-[7%] xl:ml-[9%] mt-[5%] xl:mt-[8%] w-[85%] xl:w-[80%] xl:h-[90%] relative">
        <div
          class="container w-[90%] sm:w-[95%] md:w-[95%] lg:w-[95%] xl:w-[100%] h-[85%] xl:h-[90%] mt-[15px] sm:mt-[20px] md:mt-[20px] lg:mt-[30px] xl:mt-[15px] absolute z-1 flex flex-row"
        >
          <div class="div-side1 flex-6 xl:p-[10px] xl:m-[5px] text-center">
            <div class="flex flex-row xl:pt-[60px] sm:pt-[20px] md:pt-[20px] lg:pt-[30px] pt-[10px]">
              <div class="px-[5px] ml-[12px] sm:ml-[30px] md:ml-[50px] lg:ml-[30px] xl:ml-[50px] sm:mt-[10px] md:mt-[30px] lg:mt-[30px] xl:mt-[5px]">
                <img
                  class="w-[101px] sm:w-[100px] md:w-[110px] lg:w-[110px] xl:w-[140px]"
                  src="{{ url_for('static', filename='assets/hf10_icon_fcd_rgb_2.svg') }}"
                  alt=""
                />
              </div>
              <div class="px-[5px] mt-[8px] sm:mt-[30px] md:mt-[50px] lg:mt-[40px] xl:mt-6 xl:ml-[10%]">
                <img
                  class="w-[90px] sm:w-[80px] md:w-[90px] lg:w-[100px] xl:w-[130px]"
                  src="{{ url_for('static', filename='assets/image1.svg') }}"
                  alt=""
                />
              </div>
            </div>
            <div
              class="mt-[8px] sm:mt-[8px] md:mt-[10px] lg:mt-[20px] xl:mt-[10%] text-center mb-[20px] xl:mb-100px xl:w-[300px] sm:w-[230px] md:w-[230px] lg:w-[230px] ml-[20px] sm:ml-[60px] md:ml-[70px] lg:ml-[50px] xl:ml-[16%] text-[6px] sm:text-[12px] md:text-[12px] lg:text-[15px] xl:text-[20px] text-[#C3BCC3]"
            >
              <p>© 2023 DIGITALOCEAN, LLC.ALL RIGHTS RESERVED.</p>
            </div>
          </div>

          <div class="div-side2 flex-3 p-[10x] xl:p-[30px] m-[5px] xl:m-[5px] xl:ml-[40px]">
            <div class="sm:ml-[0px] ml-[20px]">
              <h1 class="text-[14px] sm:text-2xl md:text-2xl lg:text-2xl xl:text-3xl font-bold mt-[5px] sm:mt-[30px] md:mt-[50px] lg:mt-[50px] xl:mt-[50px] sm:mb-[5px] md:mb-[10px] lg:mb-[10px] xl:mb-[5%] xl:ml-[40px]">SHARE</h1>
              <div
                class="xl:border-b-2 border-b-[1px] border-dashed w-[60px] sm:w-[100px] md:w-[100px] lg:w-[100px] xl:w-[140px] mb-[5px] sm:mb-[10px] md:mb-[20px] lg:mb-[20px] xl:mb-[25px] xl:ml-[40px] border-[#C3BCC3]"
              ></div>
              <ul class="text-[8px] sm:text-base md:text-base lg:text-base xl:text-lg xl:ml-[40px]">
                <a href="https://twitter.com/gdsciiitkalyani?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><li class="hover:text-gray-300 hover:cursor-pointer hover:scale-105 hover:duration-150">X(TWITTER)</li></a>
                <li class="hover:text-gray-300 hover:cursor-pointer hover:scale-110 hover:duration-150">INSTAGRAM</li>
                <li class="hover:text-gray-300 hover:cursor-pointer hover:scale-110 hover:duration-150">DISCORD</li>
              </ul>
            </div>
          </div>

          <div class="div-side3 flex-5 xl:p-[30px] ml-[12px] xl:m-[5px]">
            <h1 class="text-[14px] min-[540]:ml-[70px] sm:text-2xl md:text-2xl lg:text-2xl xl:text-3xl font-bold mt-[10px] sm:mt-[35px] md:mt-[50px] lg:mt-[50px] xl:mt-[50px] sm:mb-[5px] md:mb-[10px] lg:mb-[10px] xl:mb-[3%]">FOLLOW</h1>
            <div class="xl:border-b-2 border-b-[1px] border-dashed w-[60px] sm:w-[100px] md:w-[100px] lg:w-[100px] xl:w-[140px] mb-[5px] sm:mb-[10px] md:mb-[20px] lg:mb-[20px] xl:mb-[25px] border-[#C3BCC3]"></div>
            <ul class="text-[8px] sm:text-base md:text-base lg:text-base xl:text-lg">
              <li class="hover:text-gray-300 hover:cursor-pointer hover:scale-105 hover:duration-150">X(TWITTER)</li>
              <li class="hover:text-gray-300 hover:cursor-pointer hover:scale-105 hover:duration-150">INSTAGRAM</li>
              <li class="hover:text-gray-300 hover:cursor-pointer hover:scale-105 hover:duration-150">DISCORD</li>
            </ul>
          </div>
        </div>

        <img
          class="image"
          src="{{ url_for('static', filename='assets/Line28.svg') }}"
          alt="Your Image"
        />
      </div>
    </section>


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
